<!-- 部分テンプレートファイル -->
<!-- 共通部分(User info)(New book)を共通利用。-->
<!-- instance変数からlocal変数へ直す。(例)【@books => books】 -->


  <!--画面左上の【User info】-->
  <h2>User info</h2>
  <table class="table">
    <!-- modelで記述したメソッドをここで呼び出し使用。 -->
    <tr><%= image_tag user.get_profile_image(100,100) %>
    </tr>
    <tr>
      <th>name</th>
      <!-- 登録内容を受け取る。-->
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <!-- 登録内容を受け取る。-->
      <th><%= user.introduction %></th>
    </tr>
  </table>
  <div class="row">
    <!-- icon押すと、users#editへ -->
    <!-- 【btn btn-〇〇(色,サイズ)】は、色やサイズを自由に指定する。secondaryは灰色。 -->
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </div>



  <!--画面左下の【New book】/【mt-3】は、margin-top-3 -->
  <h2 class="mt-3">New book</h2>
  <!-- form_withの部分。-->
  <!-- instance変数からlocal変数へ直す。(今回)【@book_new => book 】-->
  <%= form_with model: book, local:true do |f| %>
    <!-- フォームを利用する基本的な使い方は、-->
    <!-- フォーム部品(input,textarea,selsect)に form-controlクラスを追加し、-->
    <!-- 外側をform-groupクラスをつけたdivタグで囲む形。-->
    <!-- (具体例) テキスト/パスワード/テキストボックスでは、 -->
    <!-- 入力部品のグループ(外側)にform-groupを使い、入力部品(内側)にform-controlを指定する。-->
    <!-- 【form-group】は、ラベルやフォーム部品をグルーピングする外側のdivタグで利用。-->
    <!-- つまり、余白の見た目を揃えてくれる。-->
    <div class="form-group">
      <!-- labelタグは、フォームの構成部品とその項目名(ラベル)を関連づける要素。-->
      <!-- つまり、(htmlのinput,textarea等に対応する)入力欄に説明をつける。 -->
      <label for="book_title">Title</label>
      <!-- 【form-control】は、フォーム部品に設定する。-->
      <!-- フォーム部品の大きさやレイアウトを整える。 -->
      <%= f.text_field :title, class: "form-control book_title" %>
    </div>
    <div class="form-group">
      <label for="book_body">Opinion</label>
      <%= f.text_area :body, class: "form-control book_body" %>
    </div>
    <div class="form-group">
      <!-- 【btn btn-〇〇(色,サイズ)】は、色やサイズを自由に指定する。successは緑色。 -->
      <%= f.submit 'Create Book', class: "btn btn-success" %>
    </div>
  <% end %>