<!-- Books#show のページ -->

<!-- 【px-5】は、padding-左右-全sizeで5,【px-sm-0】は、padding-左右-smallsizeで5 -->
<div class ="cantainer px-5 px-sm-0">
  <div class="row">

    <!-- 部分テンプレートを呼び出す設定 -->
    <%= render 'list', book: @book %>

    <!-- 【offset-md-1】は、先頭に余白。つまり、真ん中に余白作る。 -->
      <div class="col-md-8 offset-md-1" >
        <h2>Book detail</h2>
        <!-- 【table-hover】は、テーブルの列にマウスを乗せた際、背景色を変更する。載せると灰色系。-->
        <table class="table">
          <!-- 表のボディ部分 -->
          <tbody>
            <tr>
              <!-- 投稿ユーザーの画像表示。link_to のテキスト部分をimage_tag〜 にすればOK。-->
              <!---->

              <td><%= link_to image_tag @book.user.get_profile_image(40,40) %></ br><%= current_user.name %></td>
              <!-- book_pathは、/books/:id = books#show で画面変わらず。これイルカ？？-->
              <td><%= link_to @book.title, book_path(@book.id) %></td>
              <td><%= @book.body %></td>
              <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
              <td><%= link_to "Destroy", books_path, method: :delete, "data-confirm" => "本当に消しますか？" %></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>